@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  text-align: center;
  font-size: 24px;
}
header {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  justify-content: space-between;
  height: 60px;
}

.logo {
  width: 300px;
}
